$primaryColor: rgb(242, 242, 242);



* {
    font-family: sans-serif;
}

body {
    background-image: url("https://images.unsplash.com/photo-1604079628040-94301bb21b91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-left: 7.5%; 
    padding-right: 5%;

    a {
        text-decoration: none;
        color: black;
    }

    header {

        h1 {
            font-size: 3rem;
        }

        h1 > i {
            font-size: large;
            font-weight: 500;
        }

    }
}

// INDEX

.wall {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 0.85fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    max-width: 1200px;
    padding-bottom: 50px;

}

.brick-layout {
    background-color: $primaryColor;
    height: auto; 
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.475);
    
    
    &:hover {
        transition: 0.3s;
        box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.901);
    }
    
    
    img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        
        
    }

    h3 {
        padding-left: 10px;
    }

    p {
        padding-left: 10px;
        padding-right: 10px;
        
    }

    i {
        padding-left: 10px;
        padding-bottom: 8px;
        font-size: small;
    } 

    .read-more {
        padding: 10px;
    }

}



.brick1 {
    grid-area: 1 / 1 / 4 / 2;
    position: fixed;
    background-color: rgba($primaryColor, $alpha: 0.4);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
    border-radius: 10px;
    width: 255px;

    

    a.link {
        padding: 10px;
        position: relative;
        display: inline-block;
        font-weight: 600;
        
    }


}

.brick2 {
    grid-area:  1 / 2 / 2 / 5;
    border-radius: 10px;
    position: relative;
    
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        z-index: 3;
        
        h1 {
            font-weight: 100;
        }

        i {
            font-size: large;
            font-weight: 100;
        }
        
    }

    img {
        width: 100%;
        height: 400px;
        border-radius: 10px;
        filter: brightness(0.45)
    }
}

.brick3 {
    grid-area: 2 / 2 / 3 / 3;
    
}

.brick4 {
    grid-area: 2 / 3 / 3 / 4;
    
}

.brick5 {
    grid-area: 2 / 4 / 3 / 5;
    
}

.brick6 {
    grid-area: 3 / 2 / 4 / 3;
    
}

.brick7 {
    grid-area: 3 / 3 / 4 / 4;
    
}

.brick8 {
    grid-area: 3 / 4 / 4 / 5;
    
}



// EVENT-LIST

.wall  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 0.85fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    max-width: 1200px;

}


.brick1-list {
    grid-area:  1 / 2 / 2 / 3; 
    
}

.brick2-list {
    grid-area: 1 / 3 / 2 / 4;
    
}

.brick3-list {
    grid-area: 1 / 4 / 2 / 5;
    
}

.brick4-list {
    grid-area: 2 / 2 / 3 / 3;
    
}

.brick5-list {
    grid-area: 2 / 3 / 3 / 4;
   
}

.brick6-list {
    grid-area: 2 / 4 / 3 / 5;
   
}

.brick7-list {
    grid-area: 3 / 2 / 4 / 3;
    
}

.brick8-list {
    grid-area: 3 / 3 / 4 / 4;
    
}

.brick9-list {
    grid-area: 3 / 4 / 4 / 5;
    
}

.brick10-list {
    grid-area: 4 / 2 / 5 / 3;
    
}



//EVENT 

.wall-event {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 0.85fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    max-width: 1200px;
    
    
}


.event-info {
    grid-area: 1 / 2 / 2 / 5;
    background-color: $primaryColor;
    border-radius: 10px;
    height: auto;
    width: 750px;
    padding-left: 8px;


    .short-info {
        width: 700px;
        font-size: large;
        padding-left: 30px;
    }
    

    strong {
        font-weight: 600;
        padding-bottom: 20px;
        padding-top: 10px;
        position: relative;
        display: inline-block;
    }

    p > i {
        padding-bottom: 10px;
        padding-top: 20px;
        font-size: smaller;
        position: relative;
        display: inline-block;
    }
    
    


    .zoom {
        padding-left: 10px;
    }


    .img-zoom {
        padding: 20px;
        transition: transform .2s;
        height: 200px;
        margin: 0 auto;
        width: 300px;
        
        &:hover {
            transform: scale(1.5); 
        }
    }
   
    .collapsible {
        padding-left: 30px;
        cursor: pointer;
        padding-bottom: 20px;
        
    }

}





//CREATE-EVENT


.create-form {
    grid-area: 1 / 2 / 2 / 5;
    background-color: $primaryColor;
    border-radius: 10px;
    height: 880px;
    width: 800px;
    padding-left: 20px;
    grid-column-gap: 32px;

    

    p > strong {
        padding-bottom: 10px;
        position: relative;
        display: inline-block;
    }


}

input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#start {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    border: 1px solid #ccc;
    color: #ccc;

}

input, label {
    margin: .4rem 0;
}
  
input[type=submit] {
    width: 60%;
    background-color: #398AB9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1C658C;
}


textarea {
    width: 60%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: rgb(129, 129, 129);
    font-size: 16px;
    resize: none;
}


.category {
    padding-top: 10px;
}

select {
    width: 60%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}



// ABOUT

.about-us{
    grid-area: 1 / 2 / 4 / 5;
    background-color: $primaryColor;
    border-radius: 10px;
    height: auto;
    width: 800px;
    padding-left: 25px;
    position: relative;
    display: inline-block;
   

    

    .team-img {
        width: 700px;
        display: block;
        filter: grayscale(100%);

    }

    input[type=text], select, textarea {
        width: 60%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      
      input[type=button] {
        width: 60%;
        background-color: #398AB9;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=button]:hover {
        background-color: #1C658C;
      }
      
      .message {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding-bottom: 20px;
        
      }

      .ceo-image {
        float: left;
        margin-right: 30px;
        width: 220px;
        height: auto;
      }

}
